certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
coverage==7.6.1
defusedxml==0.7.1
et-xmlfile==1.1.0
execnet==2.1.1
idna==3.8
iniconfig==2.0.0
jira==3.8.0
mypy==1.11.2
mypy-extensions==1.0.0
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.1
pillow==10.4.0
pluggy==1.5.0
pytest==8.3.3
pytest-cov==5.0.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
six==1.16.0
termcolor==2.4.0
types-cffi==1.16.0.20240331
types-oauthlib==3.2.0.20240806
types-openpyxl==3.1.5.20240822
types-python-dateutil==2.9.0.20240906
types-requests==2.32.0.20240712
types-setuptools==74.1.0.20240907
typing_extensions==4.12.2
urllib3==2.2.2
