certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
coverage==7.6.4
defusedxml==0.7.1
et-xmlfile==2.0.0
execnet==2.1.1
idna==3.10
iniconfig==2.0.0
jira==3.8.0
mypy==1.13.0
mypy-extensions==1.0.0
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.1
pillow==11.0.0
pluggy==1.5.0
pytest==8.3.3
pytest-cov==6.0.0
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
six==1.16.0
termcolor==2.5.0
types-cffi==1.16.0.20240331
types-oauthlib==3.2.0.20240806
types-openpyxl==3.1.5.20241025
types-python-dateutil==2.9.0.20241003
types-requests==2.32.0.20241016
types-setuptools==75.4.0.20241115
typing_extensions==4.12.2
urllib3==2.2.3
