certifi==2025.10.5
charset-normalizer==3.4.4
colorama==0.4.6
coverage==7.13.2
defusedxml==0.7.1
et-xmlfile==2.0.0
execnet==2.1.2
idna==3.11
iniconfig==2.3.0
jira==3.8.0
mypy==1.19.1
mypy-extensions==1.1.0
oauthlib==3.3.1
openpyxl==3.1.5
packaging==26.0
pillow==12.1.0
pluggy==1.6.0
pytest==9.0.2
pytest-cov==7.0.0
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.5
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
six==1.17.0
termcolor==3.3.0
types-cffi==1.17.0.20250915
types-oauthlib==3.3.0.20250822
types-python-dateutil==2.9.0.20260124
types-openpyxl==3.1.5.20250919
types-requests==2.32.4.20260107
types-setuptools==80.10.0.20260124
typing_extensions==4.15.0
urllib3==2.6.3
